BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/CodeChunks.db
BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
BaseProject/.vs/Project/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
BaseProject/.vs/Project/FileContentIndex/55026278-a394-4252-8479-60a02f10649b.vsidx
BaseProject/.vs/Project/v17/Browse.VC.db
BaseProject/.vs/Project/v17/Browse.VC.db-shm
BaseProject/.vs/Project/v17/Browse.VC.db-wal
BaseProject/.vs/Project/v17/Browse.VC.opendb
